* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: #fde0e5;
  padding: 24px;
}

h1 {
  color: #282b35;
  font-size: 48px;
}

h2 {
  font-size: 32px;
  color: #282b35;
}

h3 {
  color: #282b35;
}

p {
  color: #282b35;
  font-size: large;
}

li {
  color: #282b35;
  font-size: large;
}

button {
  border: none;
  padding: 8px;
  border-radius: 8px;
  background-color: white;
}

.link-button {
  text-decoration: none;
}

a {
  color: #f76d86;
}

.decorative-border-aqua {
  color: #009688;
  padding: 24px;
  box-shadow: inset #009688 0 0 0 5px, inset #059c8e 0 0 0 1px,
    inset #0cab9c 0 0 0 10px, inset #1fbdae 0 0 0 11px, inset #8ce9ff 0 0 0 16px,
    inset #48e4d6 0 0 0 17px, inset #e5f9f7 0 0 0 21px, inset #bfecf7 0 0 0 22px;
}

.decorative-border-grayscale {
  padding: 22px;
  box-shadow: inset #313131 0 0 0 5px, inset #4e4e4e 0 0 0 1px,
    inset #6d6d6d 0 0 0 10px, inset #7e7e7e 0 0 0 11px, inset #989898 0 0 0 16px,
    inset rgb(182, 182, 182) 0 0 0 17px, inset #d3d3d3 0 0 0 21px,
    inset #f3f3f3 0 0 0 22px;
}

/* 
#313131
#fcdbcc coral
  color: #fcccd5;  pink
  background-color: #fde0e5; light pink
  #f76d86 # dark pink 
 
    color: rgb(77, 81, 87); dark grey

 #ccedfc; light blue 

h1 {
  color: SeaGreen;
}


p, 
li {
  font-size: 18px;
}


a {
  text-decoration: none;
} */
